In [1]:
import csv
import pandas as pd

In [2]:
census = pd.read_csv('data.csv')
census.head()

,id,state,abbr,poverty,povertyMoe,age,ageMoe,income,incomeMoe,healthcare,healthcareLow,healthcareHigh,obesity,obesityLow,obesityHigh,smokes,smokesLow,smokesHigh,-0.385218228
0,1,Alabama,AL,19.3,0.5,38.6,0.2,42830,598,13.9,12.7,15.1,33.5,32.1,35.0,21.1,19.8,22.5,NaN
1,2,Alaska,AK,11.2,0.9,33.3,0.3,71583,1784,15.0,13.3,16.6,29.7,27.8,31.6,19.9,18.2,21.6,NaN
2,4,Arizona,AZ,18.2,0.4,36.9,0.1,50068,483,14.4,13.3,15.6,28.9,27.7,30.2,16.5,15.4,17.6,NaN
3,5,Arkansas,AR,18.9,0.5,37.8,0.2,41262,653,16.3,14.4,18.2,35.9,33.8,38.0,24.7,22.7,26.7,NaN
4,6,California,CA,16.4,0.2,36.0,0.1,61933,238,14.8,13.8,15.8,24.7,23.5,25.9,12.9,11.9,13.8,NaN

In [3]:
censusdf = census[['abbr', 'poverty', 'age', 'income', 'healthcare', 'obesity', 'smokes']]
censusdf.head()

  abbr  poverty   age  income  healthcare  obesity  smokes
0   AL     19.3  38.6   42830        13.9     33.5    21.1
1   AK     11.2  33.3   71583        15.0     29.7    19.9
2   AZ     18.2  36.9   50068        14.4     28.9    16.5
3   AR     18.9  37.8   41262        16.3     35.9    24.7
4   CA     16.4  36.0   61933        14.8     24.7    12.9

In [4]:
censusdf.dtypes

abbr           object
poverty       float64
age           float64
income          int64
healthcare    float64
obesity       float64
smokes        float64
dtype: object

In [6]:
print(len(censusdf))

51

In [8]:
censusdf.dropna()

   abbr  poverty   age  income  healthcare  obesity  smokes
0    AL     19.3  38.6   42830        13.9     33.5    21.1
1    AK     11.2  33.3   71583        15.0     29.7    19.9
2    AZ     18.2  36.9   50068        14.4     28.9    16.5
3    AR     18.9  37.8   41262        16.3     35.9    24.7
4    CA     16.4  36.0   61933        14.8     24.7    12.9
5    CO     12.0  36.3   61303        12.8     21.3    15.7
6    CT     10.8  40.5   70048         8.7     26.3    15.4
7    DE     12.5  39.6   59716         8.7     30.7    19.9
8    DC     17.7  33.8   71648         8.3     21.7    16.4
9    FL     16.5  41.6   47463        17.6     26.2    17.7
10   GA     18.3  36.1   49321        20.9     30.5    17.4
11   HI     11.4  38.1   69592         8.1     22.1    14.1
12   ID     14.8  35.9   47861        16.5     28.9    15.9
13   IL     14.4  37.5   57444        11.9     29.3    16.5
14   IN     15.2  37.4   49446        14.8     32.7    22.9
15   IA     12.2  38.2   53712         7.7     30.9    18.5
16   KS     13.6  36.2   52504        14.5     31.3    18.1
17   KY     19.1  38.5   42958        10.0     31.6    26.2
18   LA     19.8  36.1   44555        18.7     34.9    24.0
19   ME     14.1  44.1   49462        11.0     28.2    19.3
20   MD     10.1  38.3   73971         9.2     29.6    14.6
21   MA     11.6  39.4   69160         4.6     23.3    14.7
22   MI     16.2  39.6   49847        10.3     30.7    21.2
23   MN     11.5  37.8   61481         7.3     27.6    16.3
24   MS     21.5  36.7   39680        18.8     35.5    23.0
25   MO     15.5  38.5   48363        12.9     30.2    20.6
26   MT     15.4  39.6   46328        12.9     26.4    19.9
27   NE     12.4  36.2   52686        12.4     30.2    17.3
28   NV     15.2  37.4   51450        17.1     27.7    17.0
29   NH      9.2  42.5   66532        11.4     27.4    17.5
30   NJ     11.1  39.4   71919        12.5     26.9    15.1
31   NM     21.3  37.2   44803        15.4     28.4    19.2
32   NY     15.9  38.2   58878        12.3     27.0    14.4
33   NC     17.2  38.3   46556        16.1     29.7    19.1
34   ND     11.5  35.1   59029         8.8     32.2    19.9
35   OH     15.8  39.4   49308        10.2     32.6    21.0
36   OK     16.6  36.2   47529        13.9     33.0    21.1
37   OR     16.6  39.3   51075        11.0     27.9    17.0
38   PA     13.6  40.7   53234        10.1     30.2    19.9
39   RI     14.3  39.8   54891         8.0     27.0    16.3
40   SC     18.0  38.8   45238        17.1     32.1    21.5
41   SD     14.2  36.6   50979         9.9     29.8    18.6
42   TN     18.3  38.6   44361        14.2     31.2    24.2
43   TX     17.2  34.3   53035        24.9     31.9    14.5
44   UT     11.7  30.5   60922        13.9     25.7     9.7
45   VT     12.2  42.8   54166         6.7     24.8    16.4
46   VA     11.8  37.7   64902        13.1     28.5    19.5
47   WA     13.2  37.5   61366        10.7     27.3    15.3
48   WV     18.3  41.9   41059        10.1     35.7    26.7
49   WI     13.2  39.2   52622         8.5     31.2    17.4
50   WY     11.2  36.6   57055        15.1     29.5    19.5

In [9]:
print(len(censusdf))

51

In [ ]:
censusdf.to_csv('newData.csv')